  <div class="navbar ">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">ToDo List</a>
        <%= render "todos/session" %>
      </div>
    </div>
  </div>

